// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;	
}


.jumbotron {
	background-color: #fdf7e1;
	border: 1px solid #f2cb3b;
	h2 {
      color: #c41200;
      font-weight: bold;
	}
  .new-review__star {
    display: inline-block;
  }
}

.navbar-default {
  margin-bottom: 0px;
  .container-fluid {
    .navbar-nav > li > a {
      font-size: 16px;
      font-weight: bold;
    }
    .navbar-brand {
      font-size: 30px;
    }
  }
}
.container-fluid {
    padding: 5px 120px;
}

///////////

.stars-container {
  padding: 0px 0px 10px 10px;
}
.star-rating {
  display: inline-block;
}

// @media (min-width: 736px) {
  .items-row {
    margin-bottom: 30px;
  }
  a.item:hover {
    color: #5f5f5f;
    text-decoration: none;
    border: 1px solid #2a6496;
  }
  a.item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 290px;
    // height: 290px;
    display: inline-block;
    text-align: left;
    border: 1px solid #CCC;
    border-radius: 4px;
    background: white;
    color: #5f5f5f;
    h4 {
      padding: 10px;
    }
    .stars {
      padding-left: 10px;
      float: left;
    }
    .paid-free {
      padding-right: 10px;
      float: right;
    }
  }
  .item:last-child {
    margin-right: 0;
  }

  .item__logo {
    width: 100%;
    // border-radius: 4px;
    border-bottom: 1px solid #CCC;
    height: 200px;
    // height: 70%;
    // background: white;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
// }

/* Rectangle 141: */



.product-hdr {
  
  padding: 30px;
  // overlay not working
  background-color: rgba(0,0,0,0.30);
  background-image: linear-gradient(-157deg, #FFFFFF 0%, #6863A7 38%);
  text-align: center;
  color: white;
  font-size: 22px;
}

.product__description {
  margin-bottom: 30px;
}

.product-rating {
  // margin: 30px 0px;
}

.col-md-6 {
  margin-bottom: 30px;
}

.star-rating {
  display: inline-block;
}