// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_variables';
html {
  height: 100%
}
body {
  font-family: "Lato","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;	
  background-color: #f1f1f1;
  // height: 100vh;
  // position: relative;
  height: 100%;
}
main {
  min-height: 100%;
  margin-bottom: -88px;
  padding-bottom: 88px;
}
// main:after {
//   contern: '';
//   display: block;
//   height: 88px;
// }
.footer {
  height: 88px;
}


.card-section {
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin: 20px 0px;
  padding: 15px;
}

// @media screen and (min-height: 630px) and (min-width: 1294px) {
//   max-width: 1280px;
// }
// max-width: 1066px;
// min-width: 1003px;



.jumbotron.new-review-container {
  background: white;
  color: #333;
  padding: 30px 20px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  p {
    display: inline-block;
  }
  .rating-write__ease {
    margin: 0px 10px;
    display: inline-block; 
  }
  .rating-write__speed {
    margin: 0px 10px;
    display: inline-block;
  }
}

.new-review-form {
  border-top: 1px solid $border-bottom;
  padding-top: 30px;
}




.product-hdr {
  
  padding: 30px;
  // overlay not working
  background-color: rgba(0,0,0,0.30);
  background-image: linear-gradient(-157deg, #FFFFFF 0%, #6863A7 38%);
  text-align: center;
  color: white;
  font-size: 20px;
  position: relative;
  .product-edit {
    color: #333;
    font-size: 20px;
    position: absolute;
    right: 30px;
  }
}

.product__description {
  margin-bottom: 20px;
}

.col-md-6 {
  margin-bottom: 15px;
}

.rating-type {
  display: inline-block;
  margin-right: 20px;
}

.tags-container {
  margin-top: 10px;
}
.tag {
  background: white;
  border-radius: 150px;
  display: inline-block;
  color: #333;
  padding: 5px 15px;
  font-size: 16px;
  border: 1px solid #333;
  margin: 20px 5px;
  transition: all 0.2s ease;
}
.tag:hover {
  text-decoration: none;
  color: white;
  background: black;
}

.similar-products {
  // background: white;
  h3 {
    margin: 0px;
  }
  // box-shadow: 0 1px 2px rgba(0,0,0,.1);
  .media {
    margin: 10px;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid $border-bottom;
  }
  .media:last-child {
    border-bottom: none;
  }
  .media-heading {
    margin-top: 5px;
  }
}
.similar__stars-container {
  .review-rating {
    display: inline-block;
  }
  .review-count {
    display: inline-block;
    vertical-align: bottom;
  }
}