<h3>Similar Products: </h3>
<div class="similar-products">
<% @similar_products.each do |product| %>
	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src=<%= product.image_url %> alt="...">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading"><%= product.name %></h4>
	    <br>
	    <div class="similar__stars-container">
	      <div class="review-rating" data-score=<%= product.avg_rating %> ></div> <div class="review-count"><%= "#{product.reviews.length} reviews" %></div>
	    </div>
	  </div>
	</div>
<% end %>
</div>



